.App {
  background-color: ghostwhite;
  min-height: 100%;
}

hr {
  margin: auto 80px;
  border: 1px solid lightgrey;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}